/*
    Jugando con Degradados
*/

body{
    background-image: linear-gradient(to right, rgba(173, 224, 203, 0.65), white);
}

header{
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    background-image: linear-gradient(green,white);
}

p{
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border: 1px solid black;
}

.p1{
    background-image: linear-gradient(to left,rgba(0, 0, 255, 0.5),white,rgba(0, 128, 0, 0.51));
}

.p2{
    background-image: radial-gradient(orange,white);
}

.p3{
    background-image: linear-gradient(to right,red,orange,white,yellow);
}