/* VARIABLES GLOBALES */

:root{
 --fuente: 'Bangers', cursive;
 --color:brown;  
 --separacion: 10px;
 --tam: 3em;
}

*{
    margin: var(--separacion);
    box-sizing: border-box;
    border-radius: 25px;
}

*::selection{
    background: red;
}

main{
    padding: 10px;
    background-image: linear-gradient(to bottom, #008300,white);
}

h1{
    font-family: var(--fuente);
    text-align: center;
    text-transform: uppercase;
    font-size: var(--tam);
    letter-spacing: 3px;
}

#titulo2{
    color: white;
    text-transform: lowercase;
}

#titulo2::before,#titulo2::after{
    content:"''";
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 5px;
}

article{
    margin-top: 50px;
    font-size: 1.5em;
    text-align: justify;
    column-count: 3;
    column-gap: 2em;
    column-rule: 3px solid var(--color);
}

p::first-letter{
    font-size: 3em;
    color: var(--color);
}

p::first-line{
    color: green;
}
